header{
    color: lawngreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
    padding: 1rem;
    border: 5px lawngreen;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

main{
    padding-top: 10rem;
}

p {
    padding: 2rem;
}

aside {
    text-align: center;
    font-style: italic;
}

h2 {
    text-align: center;
}