* {
    font-family: 'Courier New', Courier, monospace;

}

h1 {
    width: 100%;
    text-align: center;
    background-color: black;
    color: lawngreen;
    font-family: 'Courier New', Courier, monospace;
}

.intro {
    width: 70%;
    box-sizing: border-box;
    text-align: center;
    padding: 2rem;
    border: 10px;
    border-color: lawngreen;
    background-color: black;
    color: lawngreen;
}